.container {
    position: relative;
    top: 40px;
    display: grid;
    height: 100%;
    min-height:  80vh;
    place-items: center;
}
  
  /* Spinner */
.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height:  85vh;
}
  
.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-top: 6px solid #333;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

  
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
  