:root {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5dc;
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

button {
  background-color: black;
}

button,
input,
select,
textarea {
  background-color: black;
  font-family: inherit;
  color: white;
  outline: none;
}