:root {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5dc;
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    outline: none;
  }
}

body {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  color: "white";
  outline: none;
}